POSTGRES_USER=staging_admin
POSTGRES_PASSWORD=staging_only_not_real
POSTGRES_DB=healthradar_staging
N8N_ENCRYPTION_KEY=staging_encryption_key_ci_only
N8N_HOST=n8n
PHOENIX_ENABLE_AUTH=false
PHOENIX_SECRET=staging_phoenix_secret_ci_only